/* #bg-img{
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-y: bottom;

} */

/* fa color  */
.fas{
    
    color: white;
    margin-right: 15px;
}

.bg{
    background-color: #f9af37;
    
}

